<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
<title>contatos.html</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link rel="stylesheet" href="styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <hgroup>
      <h1><a href="#">Cordenação de Química</a></h1>
	  <h2><a href="#">UESPI</a></h2>
	  <h3><a href="#">CONTATOS</a></h2>
    </hgroup>
    <nav>
      <ul>
        <li><a href="CordenaçãodeQuimica.html">Voltar</a></li>
       <!-- <li><a href="#">noticias</a></li>
        <li><a href="#">downloads</a></li>
        <li><a href="#">centro</a></li>
        <li class="last"><a href="#">cordenações</a></li>  -->
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
   <p> <h2>Endereço eletrônico: http: //www../uespi.br/ </h2>
 
       <h2>http://www.coordenacaodequimica@hotmail.com</h2>
       <h2>Fone: (86) 3215-7524, ramal 304</h2>
       <h2>Fax: (86) 3213-7200</h2>
	   
        <div id="content">

</p>
    </div>
    <!-- right column -->
    <aside id="right_column">
      <!-- /nova tabela pronta  -->
    </aside>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
  
    <p class="fl_left">Copyright &copy; 2014 - Todos os direitos reservados - <a href="#">UESPI</a></p>
    <p class="fl_right">Desenvolvido por Alfredo Inácio </p> 
  </footer>
</div>
</body>
</html>
